[Unit]
Description=k2hdkc
Requires=chmpx.service
After=chmpx.service

[Service]
Type=simple
User=k2hr3
PermissionsStartOnly=true
ExecStartPre=/sbin/sysctl fs.mqueue.msg_max=1024
# workaround to wait for chmpx working properly
ExecStartPre=/bin/sleep 30s
ExecStart=/usr/bin/k2hdkc -conf /etc/k2hdkc/server.ini -d msg
Restart=always
PIDFile=/var/run/k2hdkc.pid
EnvironmentFile=/etc/k2hdkc/k2hdkc.envs

[Install]
WantedBy=multi-user.target
